/* Colors */
:root {
    --primary-color: #667685;
    --secondary-color: #4245c2;
    --accent-color: #DCDCDC;
  }

  body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif; 
    height: 100%;
  }

  /* Header */
  header {
    background-color: var(--primary-color);
    background: linear-gradient(to right, #667685, #99c);
    /* Rounded corners */
    border-radius: 10px;

    /* Shadow */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    transition: background 0.3s;
    text-align: center;
    color: white;
    padding: 10px;
    border: 1px solid #aaa; 
    
  }
  
  header:hover {
    background: linear-gradient(to right, #99c, #667685); 
  }

  header h1 {
    margin: 0;
    color: rgb(84, 41, 128);
    font-size: 24px;
    font-weight: bold;
    font-family: 'Courier New', monospace;
    padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  nav a {
    font-size: 16px;
    padding: 10px 20px;
    transition: background 0.3s, color 0.3s;
    color: white;
    text-decoration: none;
    margin: 0.5em 0; /* Add spacing between links */
    font-family: Copperplate, Papyrus, fantasy;
  }
  
  nav a:hover {
    background: var(--secondary-color);
    color: #fff;
    text-decoration: underline dotted;
  }


   .parallax {
    background:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            url('Synergy.jpeg') no-repeat center center fixed;
            background-size: cover;
            background-attachment: fixed;
            
            /* Set a specific height */
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            padding: 0;
   }
   @media only screen and (max-device-width: 1366px) {
     .parallax {
      background-attachment: scroll;
    }
  }

  #hero section {
    background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url('brian.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    position: relative;
    padding: 20px;
    background-color: var(--secondary-color);
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      color: white;
      text-transform: uppercase;
      position: -ms-page;
      top: 50%;
      left: 50%;
      font-size: 2rem;
      transform: translate(-50%);
    }
  #hero h2 {
    font-size: 30px;
    line-height: 1.4; /* Adjust line height */
    margin: 10px 0;
    color:#921f3c
  }
  
  #hero p {
    font-size: 24px;
    line-height: 1.5;
  }
  
  img {
    max-width: 100%;
  }

  #hero h2, #hero p {
    opacity: 0;
    transition: opacity 0.5s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  #hero h2:nth-child(1) {
    animation: fadeIn 0.5s 0.5s forwards;
  }
  
  #hero p:nth-child(2) {
    animation: fadeIn 0.5s 2s forwards; 
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  /* Style business summary section */

    /* Smartphones */
   @media (max-width: 500px) {

    #business-summaries {
        flex-direction: column;
    }

    .business {
        width: 100%;
    }
  
  }
  #business-summary {
      display: flex;
      justify-content: center;
      position: absolute;

  }
  
  .business {
    width: 30%;
    margin: 1%; 
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(121, 82, 82);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    background: #fff;
    color: #333;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .business:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
  
  .business img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .business h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .business p {
    font-size: 14px; 
  }
  .business1 {
    background: #596a7a; 
    margin: 1em;
    text-align: center;
    border: 1px solid #ddd;
  }
  .hqlink {
    font-size: 30px;
  }

  
  .business2 {
    background: #90220e;
  }
  .Business3 {
    background-image: url('ftf.png');
    background-size: cover;
    background-position: center;
    margin-top: 50px;
  }
  
  /* Business Page Styling */
  #services, #contact {
    margin: 2em 0;
  }
